/* About Section */
.about{
	font-size: 1.3rem;
}

.about__container{
	padding: 20px;
	border-radius: 20px;
	display: grid;
	align-items: center;
	grid-template-columns: 30% 1fr;
}

.about__image{
	max-width: 60%;
	border-radius: 30px 30px 0px 30px;
	margin: 0 auto;
	border: 5px solid rgb(81, 168, 150);
	transition: all 0.5s ease;
}

.about__image:hover{
	transform: scale(1.1);
}

.about__title{
	color: rgb(81, 168, 150);
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 2px;
}

.about__body{
	display: flex;
	flex-direction: column;
	align-content: center;
	row-gap: 20px;
}

.about__text p{
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.5;
}

.about__text p:last-of-type{
	margin-bottom: 0px;
}

.about__text span{
	font-weight: 600;
}