.footer__container{
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-self: center;
	gap: 30px;
	padding: 40px 30px;
	margin: 0 0;
	
 }

 .footer__text{
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
 }

 .footer__title{
	color: rgb(81, 168, 150);
	
 }
 .text--bold{
	font-weight: 500;
 }

 .footer__container a{
	transition: color 0.3s ease;
 }
 .footer__container a:hover{
	color: rgb(81, 168, 150);
 }


 .footer__copyright{
	text-align: center;
	font-weight: 200;
	font-size: 0.9rem;
	margin-bottom: 20px;
 }

 .contacts__title{
	margin-bottom: 20px;	
 }

 /* Contact form */
 #contactForm{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px;
 }

 #contactForm input,
 #contactForm textarea{
	border-radius: 7px;
	font-weight: 500;
	font-size: 1.1rem;
	padding: 15px;
 }

 .error-message {
	font-family: "Inter", sans-serif;
	display: none;
	background-color: #ffe0e0;
	color: #d10000;
	border: 1px solid #d10000;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 7px;
	font-size: 0.9rem;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.error-message.show {
	display: block;
	opacity: 1;
}


 