/* projects */
.projects__title{
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 60px;
}

.projects__cards{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project__card {
	width: 100%;
	position: relative;
}
.project__image{
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 20px;
}

.project__image img:hover {
	transform: scale(1.3);
	box-shadow: 0 10px 20px rgba(0,0,0,0.15);
	cursor: pointer;
}
.project__image img{
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 410 / 220;
	border-radius: 20px;
	border: 5px solid rgb(81, 168, 150);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3 {
	color: rgb(81, 168, 150);
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.project__details{
	display: none;
	
}

/* modal */
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
 }
 
 .modal__overlay {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
 }
 
 .modal__content {
	position: relative;
	max-width: 600px;
	margin: 5% auto;
	background: #fff;
	padding: 20px;
	border-radius: 10px;
	z-index: 101;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 }

 .modal__details{
	display: flex;
	flex-direction: column;
	gap: 30px;
 }

 .modal__title{
	color: rgb(81, 168, 150);
	font-size: 20px;
 }
 
 .modal__description a{
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s ease;
 }

 .modal__description a:hover{
	color: rgb(81, 168, 150);
 }

 .modal__tools{
	font-style: italic;
 }

 .modal__tools span{
	font-weight: 600;
 }

 .modal__links a{
	font-weight: 700;
	transition: color 0.3s ease;
 }

 .modal__links a:hover{
	color: rgb(81, 168, 150);
 }
 
 html.dark .modal__content {
	background: rgb(20, 31, 48);
	color: rgb(236, 234, 233);
 }
 
 .modal__close {
	position: absolute;
	top: 2px; 
	right: 8px;
	font-size: 1.8rem;
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
 }
 
 .modal__image {
	max-width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
 }