#scrollToTopBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 100;
	font-size: 22px;
	padding: 10px 17px;
	border: none;
	background-color: rgb(81, 168, 150);
	color: white;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: opacity 0.3s ease;
 }
 
 #scrollToTopBtn:hover {
	background-color: rgb(37, 197, 165);
 }