@import url("../reset.css");


body{
	font-family: "Inter", sans-serif;
	font-size: 18px;
	transition: all 0.5s ease 0s;
}

html.dark body {
	color:rgb(236, 234, 233);
	background-color: rgb(20, 31, 48);
}


html.light body {
	background-color: rgb(227, 226, 226);
	color: rgb(33, 33, 33);
}

.page__theme {
	width: 26px;
	height: 26px;
	border: none;
	cursor: pointer;
}
html.dark .page__theme{
	background: url('../image/sun.svg') center / contain no-repeat;
}
html.light .page__theme{
	background: url('../image/moon.svg') center / contain no-repeat;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: clip;
}

.wrapper >main{
	flex-grow: 1;
}

/* HEADER */
.header{
	padding-top: 15px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
}
.header__wrapper{
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.header__body{
	padding: 15px 25px;
	border-radius: 10px;
	background-color: rgb(34, 43, 57);
	box-shadow: 0px 25px 50px -12px rgba(0, 0, 0, 0.25), 0 0 15px 0 rgba(0, 0, 0, 0.07);
	color: rgb(236, 234, 233);
	display: grid;
	align-items: center;
	grid-template-columns: auto 1fr auto;
	column-gap: 20px;
}

.header__logo {
	position: relative;
	font-size: 22px;
	font-weight: 700;
	z-index: 3;
	line-height: 110%;
	transition: all 0.5s ease;
}
.header__logo span{
	display: block;
	color:rgb(81, 168, 150);
	transition: all 0.5s ease;
}

.header__logo:hover{
	transform: scale(1.1);
}

.header__logo:active{
	transform: scale(1.0);
}

.menu__list{
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 5px;
}

.menu__link{
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: 0.5px;
	transition: all 0.5s ease;
}

.menu__link:hover{
	transform: scale(1.1);
	color: rgb(37, 197, 165);
}

.menu__link:active{
	transform: scale(0.95);
}

.burger {
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 25px;
	height: 20px;
	cursor: pointer;
	z-index: 5;
	position: relative;
 }
 
 .burger span {
	display: block;
	height: 3px;
	background: rgb(81, 168, 150);
	border-radius: 2px;
 }



[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 30px;
}


#contacts__btn{
	background-color: rgb(81, 168, 150);
	color: white;
	padding: 15px 30px;
	border-radius: 7px;
	font-weight: 500;
	font-size: 1.2rem;
	transition: background-color 0.3s ease, transform 0.2s ease;
	cursor: pointer;
}

#contacts__btn:hover{
	background-color: rgb(37, 197, 165);
}

#contacts__btn:active{
	transform: scale(0.95);
}

#scrollToTopBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	z-index: 100;
	font-size: 22px;
	padding: 10px 17px;
	border: none;
	background-color: rgb(81, 168, 150);
	color: white;
	border-radius: 50%;
	cursor: pointer;
	display: none;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
	transition: opacity 0.3s ease;
 }
 
 #scrollToTopBtn:hover {
	background-color: rgb(37, 197, 165);
 }

/* projects */
section{
	padding-top: 150px;
}
.projects__wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}
.projects__title{
	text-align: center;
	font-weight: 700;
	font-size: 1.5rem;
	letter-spacing: 2px;
	margin-bottom: 60px;
}

.projects__cards{
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project__card {
	width: 100%;
	position: relative;
}
.project__image{
	overflow: hidden;
	margin-bottom: 20px;
	border-radius: 20px;
}

.project__image img:hover {
	transform: scale(1.3);
	box-shadow: 0 10px 20px rgba(0,0,0,0.15);
	cursor: pointer;
}
.project__image img{
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 410 / 220;
	border-radius: 20px;
	border: 5px solid rgb(81, 168, 150);
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card h3 {
	color: rgb(81, 168, 150);
	line-height: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.project__details{
	display: none;
}

.modal {
	display: none;
	position: fixed;
	z-index: 100;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
 }
 
 .modal__overlay {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
 }
 
 .modal__content {
	position: relative;
	max-width: 600px;
	max-height: 90vh;
	overflow-y: auto;
	margin: 5% auto;
	background: #fff;
	padding: 25px;
	border-radius: 10px;
	z-index: 101;
	box-shadow: 0 5px 15px rgba(0,0,0,0.3);
 }

 .modal__details{
	display: flex;
	flex-direction: column;
	gap: 30px;
 }

 .modal__title{
	color: rgb(81, 168, 150);
	font-size: 20px;
 }

 .modal__description a{
	font-weight: 600;
	cursor: pointer;
	transition: color 0.3s ease;
 }

 .modal__description a:hover{
	color: rgb(81, 168, 150);
 }

 .modal__tools{
	font-style: italic;
 }

 .modal__tools span{
	font-weight: 600;
 }

 .modal__links a{
	font-weight: 700;
	transition: color 0.3s ease;
 }

 .modal__links a:hover{
	color: rgb(81, 168, 150);
 }
 
 html.dark .modal__content {
	background: rgb(20, 31, 48);
	color: rgb(236, 234, 233);
 }
 
 .modal__close {
	position: absolute;
	top: 2px; 
	right: 8px;
	font-size: 1.8rem;
	background: none;
	border: none;
	cursor: pointer;
	color: inherit;
 }
 
 .modal__image {
	max-width: 100%;
	margin-bottom: 15px;
	border-radius: 10px;
 }

 .footer__container{
	display: grid;
	grid-template-columns: 50% 50%;
	align-items: center;
	justify-self: center;
	gap: 30px;
	padding: 40px 30px;
	margin: 0 0;
	
 }

 .footer__text{
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
	text-align: center;
 }

 .footer__title{
	color: rgb(81, 168, 150);
	
 }
 .text--bold{
	font-weight: 500;
 }

 .footer__container a{
	transition: color 0.3s ease;
 }
 .footer__container a:hover{
	color: rgb(81, 168, 150);
 }

 .contacts__title{
	margin-bottom: 20px;	
 }

 #contactForm{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 30px;
 }

 #contactForm input,
 #contactForm textarea{
	border-radius: 7px;
	font-weight: 500;
	font-size: 1.1rem;
	padding: 15px;
 }

 .error-message {
	font-family: "Inter", sans-serif;
	display: none;
	background-color: #ffe0e0;
	color: #d10000;
	border: 1px solid #d10000;
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 7px;
	font-size: 0.9rem;
	text-align: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
.error-message.show {
	display: block;
	opacity: 1;
}

 .footer__copyright{
	text-align: center;
	font-weight: 200;
	font-size: 0.9rem;
	margin-bottom: 20px;

 }

 @media (max-width: 768px) {
	.header__menu {
	  display: none;
	  flex-direction: column;
	  background: rgb(81, 168, 150, 0.9);
	  border-radius: 0 0 20px 20px;
	  position: absolute;
	  right: 30px;
	  max-width: 200px;
	  padding: 1rem;
	  font-size: 1.9rem;
	  line-height: 1.5;
	  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	  transition: top 0.3s ease;
	}
 
	.header__menu.active {
	  display: flex;
	  z-index: 0;
	}
 
	.burger {
	  display: flex;
	}

	.menu__link:hover{
		color: rgb(236, 234, 233);
	}

	.header__actions{
		justify-self: end;
	}


	[class*="__container"] {
		font-size: 1.8rem;
	}

	[class*="__title"] {
		font-size: 2rem;
	}

	.projects__cards{
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.footer__container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px;
		padding: 40px 30px;
 	}
 
	 #contactForm{
		flex-direction: column;
		gap: 20px;
		padding: 30px;
		width: 100%;
	 }

 }